<div class="row event-header">
  <div class="col-md-12">
  <h3>Days booked off</h3>
    <div class="col-md-6">
      Start date
    </div>
    <div class="col-md-6">
      End date
    </div>
  </div>
</div>
