@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing{
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
body{padding-top:60px;}

.debug_dump{
  clear: both;
  float: left;
  width:100%;
  margin-top: 45px;
  @include box_sizing;
}

.footer{
  margin-top:40px;
  text-align:center;

}
.employee-list
{
	height:100px
}
.employee-list-item{
	margin-bottom:40px;
	width:100%;
	list-style-type:none;
	li{
		padding-left:8px;
		color: #669999;
	}
}
.employee-list-even{
background: #f9f9f9f;
}
.employee-list-odd{
	background :#e0e4cc
}
